h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
}

span {
    color: rgb(90, 189, 255);
    font-weight: 600;
}

button {
    border: none;
    border-radius: 100px;
    background-color: #050505;
    color: #eee;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    gap: 10px;
    margin-top: 24px;
    padding: 12px 24px;
    place-items: center;
    transition: all .3s ease;
}
button:hover {
    background-color: #1a1a1a;
    transform: translateY(-8px);
    box-shadow: 0 8px 15px #050505;
}
